*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  width: 100vw;
  height: 100vh; 
  font-family: 'Ubuntu', sans-serif;
  background-color: aliceblue;
}

.main{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainbox{
  width: 30%;
  height: 70%;
  background-color: skyblue;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}
.first_half{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  

}
.input_search{
  display: flex;
  width: 60%;
  height: 30px;
  margin-top: 10px;
}


.input{
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  text-align: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 15px;
  text-transform: capitalize;
  box-shadow: 5px 0px 10px 5px rgba(0, 0, 0, 0.4);
}

.whether{
  margin-top: 50px;
  
}
.city{
  margin-top: 15px;
}
.second_half{
  margin-top: 10px;
  display: flex;
flex-direction: column;
  align-items: center;
}
.tem{
  margin-top: 40px;
}
.max_min_temp{
  margin-top: 10px;
}

.no_data{
  text-align: center;
  margin-top: 50px;
  font-weight: 900;
  font-size: 25px;
  color: rgb(250, 0, 0);
}

@media only screen and (min-width:300px) and (max-width:700px) {
  .mainbox{
    width: 80%;
    height: 70%;
  }
}






